@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>Client Details</h1>
<br>
@* <h3>@Html.DisplayNameFor(model => model.Name): @HtmlDisplayFor(model =>model.Name)</h3>
<br>
<h3>@Html.DisplayNameFor(model => model.Stylist): @HtmlDisplayFor(model =>model.Stylist)</h3>
<br> *@
<h3>@Html.ActionLink("Back to Stylist List", "Index", "Stylists")</h3>
